<!DOCTYPE html>
<html>
<head>
  <title>RescueMission</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <% if user_signed_in? %>
      <p><img style= "border-radius: 60px; width: 60px" src="<%= current_user.avatar_url %>">
      <%= link_to 'Sign Out', "/sign_out" %></p>
    <% else %>
      <li><%= link_to 'Log in with Facebook', '/auth/facebook' %></li>
    <% end %>

<%= yield %>

<br />
<%= link_to 'Index', controller: 'welcome' %>
</body>
</html>
